snippet /^p (\S+)/ "package ..." r
package `!p snip.rv=match.group(1)`
endsnippet

snippet /^main/ "main" r
func main() {
	${1}
}
endsnippet

snippet /^i (\S+)/ "import ..." r
import "`!p snip.rv=match.group(1)`"
endsnippet
